html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


.container {
    padding: 1em;
}

.poemContainer {
    background-color: white;
    padding: 2em;
}

.erasureControls {
    background-color: white;
    padding: 2em;
}

.slide p {
    position:relative;
    top: -30px;
    left: 5px;
    font-size:0.8rem;
    color: #ffffffdd;
    padding: 3px;
}

.erasureControls {
    font-size: 0.9rem;
    font-weight: bold;
}

#BackgroundCarousal {
    padding-top: 2em;
}

.sidebar {
    padding:0;
}

.disable {
    pointer-events: none;
    cursor: default;
    color: lightgray;
}

.navbar-brand {
    text-align: right;
}

.backgroundImage {
    position:fixed !important;
    z-index: -1000;
}