html,
body {
    min-width:480px;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.ant-collapse-header-text {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 2em;
    line-height: 1.5em;
    position: relative;
    top: -6px;
}

.ant-collapse-header {
    line-height: 1em;
    padding: 0;
    margin: 0;
}

.ant-tree-list-holder {
    padding: 0px;
    margin: 0px;
    position: relative !important;
    top: -30px;
}

.ant-layout {
    background-color: white;
    margin: 0 8vw;
}

.ant-tree-title {
    font-family: 'Sorts Mill Goudy', serif;
}

.ant-collapse-item.poem {
    font-size: 0.5em !important;
    border-bottom: 0px solid black;
    background-color: black;
    color: white
}

.ant-tree-node-content-wrapper {
    border-bottom: 1px dotted black;
    border-right:  1px dotted black;
}

.ant-collapse-header-text {
    border-bottom: 2px solid black;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.ant-tree-title {
    width:100%;
}

.ant-drawer-body {
    background: #F6D54C !important;
}

#erasureDesktop {
    width:100%;
    display:block;
}

#erasurePhone {
    display:none;
}

#content-container img {
    object-fit:cover;
    object-position: 50% 50%;
}

#content-container img.contributor-img {
    object-fit:none;
    object-position: 0% 0%;
}

.basics {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 1.4rem;
    margin: 0 1rem;
}


.collageFrame {
    background-color:red;
    width:20vw;
}

.commonContainer main {
    display:flex;
    justify-content:center; 
    align-items:center;
}

.collageFrameMobile {
    display: none;
}


@media (max-width:700px) {
    .collageFrame {
        display:none;
    }

    .collageFrameMobile {
        display: block;
    }

    .commonContainer main {
        display:block !important;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .basics {
        font-size: 1rem;
    }

    .ant-layout{
        margin: 0 2vw;
    }

    .season {
        display: none;
    }

    .homeHeader .description {
        display: none;
    }
}


@media (max-width:1200px) {
    
    #titleContainer, .imageCarousel {
        margin: 0 auto;
        width: clamp(460px, 90vw, 500px);
    }

    .ant-layout {
        margin:0;
    }

    #erasureDesktop {
        display:none;
    }

    #erasurePhone {
        display:block;
    }

    #footerTitle {
        display:none;
    }

    #content-container {
        flex-direction: column;
    }

    #content-container img {
        width: 100%;
        height: 50vh;
        object-position: 0% 0%;
    }
}